Welcome: <%= @currently_logged_in_programmer.first_name %><br /><br />

<% @programmers.each do |programmer| %>
    <div>
        <label>Name: </label>
        <%= link_to programmer.full_name, programmer_path(programmer.id) %><br /><br />
    </div>

    <div class="content">
        <%= pluralize(programmer.assignments.count, 'Assignment') %>:<br />
        
        <% if !programmer.assignments.empty? %>
            <ul>
                <% programmer.assignments.each do |assignment| %>
                    <li>
                        <% if assignment.is_completed %>
                            <strong>**COMPLETED**</strong>
                        <% end %>
                        <%= assignment.task %> 
                    </li><br />
                <% end %>
            </ul>
            <br /><br />
        <% else %>
            None
            <br /><br />
        <% end %>
    </div>
<% end %>