<% @programmers.each do |programmer| %>
    <label>Full Name: </label>
    <%= programmer.full_name %><br /><br />

    <label>Assignment: </label>
        <ul>
            <% programmer.assignments.each do |assignment| %>
                <li><%= assignment.task %></li>
            <% end %>
        </ul>
    <br /><br />
<% end %>