Welcome: <%= @project_manager.first_name %><br /><br />

These are the programmers that you have at your disposal:<br /><br/>

<% @programmers.each do |programmer| %>
    <% if !programmer.is_project_manager%>
        <label>Name: </label>
        <%= link_to programmer.full_name, programmer_path(programmer.id) %><br /><br />

        <% if !programmer.assignments.empty? %>
            <label>Assignment: </label><br />
                <ul>
                    <% programmer.assignments.each do |assignment| %>
                        <li><%= assignment.task %></li><br />
                    <% end %>
                </ul>
            <br /><br />
        <% else %>
            <label>Assignment: </label><br />
                None
            <br /><br />
        <% end %>
    <% end %>
<% end %>