<label>Project: </label>
<%= @assignment.project.name %><br />

<label>Task: </label>
<%= @assignment.task %><br />

<label>Completed? </label>
<%= @assignment.completed? %><br />

<label>Programmer Assigned: </label>
<%= @assignment.programmer.full_name %><br />