<% @comments.each do |comment| %>
    <label>Project Name: </label>
    <%= comment.assignment.project.name %><br />

    <label>Project Assignment: </label>
    <%= comment.assignment.task %><br />

    <label>Comment Title: </label>
    <%= comment.title %><br />

    <label>Comment: </label>
    <%= comment.content %><br /><br />

<% end %>