<% @projects.each do |project| %>
    <label>Project Name: </label>
    <%= link_to project.name, project_path(project) %><br />

    <label>Project Status: </label>
    <%= project.status %><br /><br />
<% end %>